Architecture: iphoneos-arm
Author: NsRepo
Depiction: https://NsRepo.github.io/depictions/?p=com.NsRepo.icons
Description: Adds Images to Sections
Maintainer: NsRepo <reponame@example.com>
Name: icons
Package: com.NsRepo.icons
Section: MTweaks
Essential: yes
Priority: required
Version: 1.0.2
