Architecture: iphoneos-arm
Author:  NsBm0d 
Description: Crystal Apple Theme
Depiction: https://github.com/NsRepo/NsRepo.github.io
Maintainer:  NsBm0d  <NsBm0d@LIVE.com>
Name: NsTheme
Package: com.NsRepo.NsTheme
Section: MThemes
Version: 1.0
