Architecture: iphoneos-arm
Author:  NsBm0d 
Depiction: https://NsRepo.github.io/depictions/?p=com.NsRepo.NsB
Description: Crystal Apple
Maintainer:  NsBm0d  <NsBm0d@LIVE.com>
Name: NsB
Package: com.NsRepo.NsB
Section: NThemes
Version: 1.0
