Architecture: iphoneos-arm
Author:  NsBm0d 
Description: Crystal Apple Theme
Depiction: https://NsRepo.github.io/depictions/?p=com.NsRepo.NsB
Maintainer:  NsBm0d  <NsBm0d@LIVE.com>
Name: NsB
Package: com.Nrepo.NsB
Section: MThemes
Version: 1.0.1
